node_modules
dist
release
.cache
out
.idea
.vscode
*.log
app-data/**
!app-data/.gitkeep
app-data/videos/**
!app-data/videos/.gitkeep
app-data/audios/**
!app-data/audios/.gitkeep
app-data/chunks/**
!app-data/chunks/.gitkeep
app-data/frames/**
!app-data/frames/.gitkeep
app-data/drafts/**
!app-data/drafts/.gitkeep
resources/ffmpeg/win/**
!resources/ffmpeg/win/.gitkeep
scripts/keys/private-key.pem
scripts/keys/*.pem
